.mat-drawer-container {
    height: 100vh;
}

.menu-icon {
    cursor: pointer;
}

.sidenav {
    width: 300px;
}

.logo-container {
    padding: 0px 16px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.20);
    min-height: 56px;
    display: flex;
    align-items: center;
}

mat-toolbar {
    min-height: 56px;
    height: 56px;
    background-color: #4c5af3;
}

.menu-items {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        height: 48px;
        padding: 0px 16px;
        display: flex;
        align-items: center;
        cursor: pointer;

        mat-icon {
            margin-right: 16px;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}